body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(shopimage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
    
}

@media(max-width:992px){
    
        

}


.logbox{
    position: absolute;
    background-color: beige;
    width: 500px;
    height: 600px;
    box-sizing: border-box;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    border: none;
    outline: none; 
    padding: 70px 30px;
}
.profile{
    margin-left: 30%;
    width: 100px;
    height: 100px;
    top:-50%;
    left: calc(50%-50px);
    border-radius: 50%;
}

.btn-primary:hover{
background-color: #563d7c;
}
.btn-primary{
margin-top: 5px;
}

input[type=email]{
    width: 90%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: beige;
    border-bottom: 1px solid gray;
    color: darkred;
    font-size: 16px;
    
}
input[type=password]{
    width: 90%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: beige;
    border-bottom: 1px solid gray;
    color:darkred;
    font-size: 16px;
    
}
input[type=text]{
    width: 90%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: beige;
    border-bottom: 1px solid gray;
    color: darkred;
    font-size: 16px;
    
}


.scroll{
    height: 480px;
    overflow-y: scroll;
}

a:hover{
    text-decoration: none;
    color: brown;
}